# Importing Dependencies

In [5]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt

# Data Reading

In [6]:
df=pd.read_csv('creditcard.csv')
# First Five rows of the dataset
df.head(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [7]:
df.tail() # Last 5 rows

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [8]:
# Dataset Information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [9]:
# Missing Value check in each column
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [10]:
# Distribution Of legit Transctions & Fradulent Transactions
df['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

# This dataset is highly Unblanced

# 0 : Normal Transaction 1 : Fradulent Transactions

In [11]:
# Seprartes the Data for Analysis
Legit=df[df.Class ==0]
Fraud =df[df.Class ==1]

In [12]:
print(Legit.shape)
print(Fraud.shape)

(284315, 31)
(492, 31)

In [13]:
# Statistical Measures of the Data

In [14]:
Legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [15]:
Fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [16]:
# Compare the values for both
df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

# Under-Sampling

Build a simple dataset containing similar distrubtion of normal and fraudulent trasaction

Number of Fraudlent Transactions - 492

In [19]:
Legit_Sample=Legit.sample(n=492)   # Ot will take the Ramdom data set

# Concateninting Two data frames

In [20]:
new_df=pd.concat([Legit_Sample,Fraud],axis=0) # Rowwise addition

In [23]:
new_df.head(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
77070,56873.0,-0.803583,0.846522,1.535158,0.202303,-0.370006,-0.506808,0.496077,-0.134032,0.377687,...,-0.192842,-0.586479,0.022966,0.378907,-0.155710,0.096809,-0.509941,0.009714,19.99,0
3934,3539.0,1.088274,-0.195179,1.201735,1.243196,-0.863113,0.490087,-0.874880,0.463076,0.741853,...,0.178075,0.604859,-0.044411,-0.005551,0.340895,-0.223494,0.068890,0.017508,1.00,0
268941,163458.0,-1.655262,2.071893,-0.618214,1.200984,0.886986,-0.816189,0.910203,0.462211,-1.551114,...,0.096707,0.208266,-0.310477,1.017008,1.192062,-0.258482,-0.408346,-0.067650,16.29,0
245948,152976.0,-0.507454,1.674131,-1.228710,0.724905,0.141861,-0.390725,-0.201313,-2.566566,-1.610834,...,-0.859534,1.637089,0.077730,0.096084,-0.623800,0.527442,0.071514,0.148702,30.91,0
207267,136595.0,-0.464544,1.446195,1.241053,2.919761,1.354579,0.493197,1.031904,-0.002429,-1.726102,...,0.104397,0.431241,-0.472001,-0.629391,0.369421,0.208700,0.097368,0.122445,0.97,0

In [22]:
new_df.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [24]:
# Compare the values in new data set
new_df['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [25]:
new_df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,95805.955285,-0.013365,0.003296,0.047618,0.062037,0.021027,0.015158,-0.010806,-0.007376,-0.018633,...,0.043185,0.018434,0.004085,-0.014895,-0.018204,-0.031313,-0.021720,0.016554,0.013534,89.493293
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

# Splilting the data into Features & Targets

In [26]:
X=new_df.drop(columns='Class',axis =1)
Y=new_df['Class']

In [27]:
X.head(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
77070,56873.0,-0.803583,0.846522,1.535158,0.202303,-0.370006,-0.506808,0.496077,-0.134032,0.377687,...,-0.248851,-0.192842,-0.586479,0.022966,0.378907,-0.155710,0.096809,-0.509941,0.009714,19.99
3934,3539.0,1.088274,-0.195179,1.201735,1.243196,-0.863113,0.490087,-0.874880,0.463076,0.741853,...,-0.285721,0.178075,0.604859,-0.044411,-0.005551,0.340895,-0.223494,0.068890,0.017508,1.00
268941,163458.0,-1.655262,2.071893,-0.618214,1.200984,0.886986,-0.816189,0.910203,0.462211,-1.551114,...,-0.176917,0.096707,0.208266,-0.310477,1.017008,1.192062,-0.258482,-0.408346,-0.067650,16.29
245948,152976.0,-0.507454,1.674131,-1.228710,0.724905,0.141861,-0.390725,-0.201313,-2.566566,-1.610834,...,0.696523,-0.859534,1.637089,0.077730,0.096084,-0.623800,0.527442,0.071514,0.148702,30.91
207267,136595.0,-0.464544,1.446195,1.241053,2.919761,1.354579,0.493197,1.031904,-0.002429,-1.726102,...,-0.071867,0.104397,0.431241,-0.472001,-0.629391,0.369421,0.208700,0.097368,0.122445,0.97

In [28]:
Y.head(5)

77070     0
3934      0
268941    0
245948    0
207267    0
Name: Class, dtype: int64

# Split the data into Training Data & Testing Data

In [29]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [30]:
xtrain,xtest,ytrain,ytest=train_test_split(X,Y,test_size=0.20,random_state=2)

In [31]:
print(X.shape,xtrain.shape,xtest.shape)

(984, 30) (787, 30) (197, 30)

In [32]:
# Model Training  Logistics Regression
model =LogisticRegression()

In [33]:
# Training the Logistics Regression Model with Trainig Data

In [34]:
model.fit(xtrain,ytrain)

LogisticRegression()

# Evalution

In [35]:
# Accuracy Score
# Accuracy on Training data
xtrain_pred=model.predict(xtrain)
training_data_accuracy= accuracy_score(xtrain_pred,ytrain)

In [36]:
print('Accuracy on Training Data : ',training_data_accuracy)

Accuracy on Training Data :  0.9186785260482846

In [37]:
# Accuracy on Test data
xtest_pred=model.predict(xtest)
test_data_accuracy= accuracy_score(xtest_pred,ytest)

In [38]:
print('Accuracy on Test Data : ',test_data_accuracy)

Accuracy on Test Data :  0.9187817258883249